body {
  height:100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  background-color: teal;
  background: linear-gradient(to bottom right, rgb(40, 148, 123), rgb(50, 142, 131), rgb(61, 135, 138), rgb(71, 129, 146), rgb(82, 122, 153), rgb(92, 116, 161), rgb(84, 104, 141), rgb(75, 93, 120), rgb(67, 81, 100), rgb(59, 69, 80), rgb(50, 58, 59), rgb(42, 46, 39));  color: white center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Container */

.container {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  
}

/* Intro */



  
/*Calculator*/

.calculator {
  padding: 10px;
  display: block;
  text-shadow: 1px 1px 0 black;
  text-align: right;
  color:white;}
.flex{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 2px solid wheat;
  border-radius: 10px;
}

.namespace{
  text-align: center;
  margin: auto;
  padding: 4px 1px 4px 4px;
  width: 60%;

}
.questionIco {
  width: 15px;
  background-color: wheat;
  border-radius: 10px;
}

.help {
  color: #2c8505;
  outline: none; /*цвет подсказки*/
  cursor: help;
  text-decoration: none; /*вид курсора при наведении, можно заменить на pointer*/
  position: relative; /*позиция*/
}

/*положение всплывающей подсказки*/
.help span {
  margin-left: -999em;
  position: absolute;
}

/*подсказка при наведении курсора*/
.help:hover span {
  font-family: Verdana, Tahoma, Geneva, sans-serif; /*шрифт*/
  position: absolute; /*позиция*/
  left: 10px;
  top: 25px;
  z-index: 99;
  margin-left: 0;
  width: 140px; /*ширина блока подсказки*/
}

/*параметры изображения*/
.help:hover img {
  border: 0;
}

/*блок всплывающей подсказки*/
.airhelp {
  background: none repeat scroll 0 0 rgb(3, 31, 68); /*цвет и прозрачность фона*/
  border: 1px solid #2b82b8; /*параметры бордюра*/
  border-radius: 5px; /*закругление углов*/
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); /*тень блока*/
  color: #fff; /*цвет шрифта всплывающей подсказки*/
  padding: 5px; /*внутренний отступ*/
}

.enter {
  border: 1px solid #9e9e9e;
  color: #000000;
  padding: 5px;
  font-size: 20px;
  font-family: Verdana;
  background: #fff;
  min-height:40px;
  width: 100%;
}
.entercontainer{
  width: 40%;
  padding: 4px 4px 4px 1px;
  margin-top: auto;
  margin-bottom: auto;
}
.monthSelector{
  padding: 1px;
  font-size: 20px;
  height: 30px;
  max-width: 100%;
}
.resultButton {
  font-size: 20px;
  padding: 4px;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50; /* Green */
  margin-right: 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.resultButton {
  background-color: #16436d; /* Green */
  color: white;
}

#result {
  margin-right: 3px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder {
  color: #000;
  font-style: italic;
  opacity: 0.3;
}
::-moz-placeholder {
  color: #000;
  font-style: italic;
  opacity: 0.3;
}
:-moz-placeholder {
  color: #000;
  font-style: italic;
  opacity: 0.3;
}
:-ms-input-placeholder {
  color: #000;
  font-style: italic;
  opacity: 0.3;
}

@media(max-height: 536px){
  body{
    font-size: 16px;
  }
  .calculator{
    padding: 2px;
  }
  .enter{
    font-size: 16px;
  }
  .monthSelector{
    font-size: 16px;
    height: 24px;
    width: 100px;
  }
  .flex{
    height: 70px;
    margin: 2px;
  }
}

